* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Lucida Sans Unicode;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.container {
    margin-top: 5vh;
    min-width: 30vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.overview {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 20vh;
    background-color: green;
    color: white;
}
.tabs {
    display: flex;
    justify-content: space-around;
}
.dashboard {
    background-color: white;
}
.inactive {
    opacity: .5;
}

.hidden {
    display: none;
}
ul {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    vertical-align: bottom;
}

li {
    padding: 2vh 0vh;
    padding-left: 1vw;
    width: 30vw;
    vertical-align: middle;
    text-align: justify;
    font-size: 20px;
}
img {
    padding-right: 1vw;
    max-width: 30px;
    max-height: 30px;
    float: right;
}
.new-items {
    background-color: white;
    display: flex;
    justify-content: space-around;
    position: absolute;
    padding: 2vh 0vh;
    bottom: 5vh;
    width: 30vw;
    border-top: 1px solid grey;
    font-size: 25px;

}